body,
html {
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  padding: 20px;
}

.code {
  white-space: pre;
  width: 100%;
  height: 300px;
  border: 2px solid green;
  overflow: auto;
}
.code.result {
  border: 2px solid blue;
}
